.addInstance{
    width: 30%
}
.list {
    counter-reset: li; 
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    width: 30%;
}

.list ul {
    margin: 0 0 0 2em; 
}

.list ul{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.list ul:hover{
    background: #eee;
}

.list ul:hover:before{
    transform: rotate(360deg);  
}


.instanceName{
    margin-left :0px;
}
